<!--Draggable DIV:-->
<div class="container">
  <div *ngIf="stuff">this is content</div>
  <div id="mydiv" [style.top]="topStyle" [style.left]="leftStyle" mouse-down (onMouseDown)="startDrag($event);">
    <!--Include a header DIV with the same name as the draggable DIV, followed by "header":-->
    <div id="mydivheader">Click here to move <button (click)="toggleStuff();">THings</button></div>
    <p>Move</p>
    <p>this</p>
    <p>DIV</p>
  </div>
</div>
<div>
  Some other ass shit fucking bullshit stuff.
</div>